__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.zip
*.wav
*.mp3
model-cache/
models/
checkpoints/
hf_cache/
output/
.ipynb_checkpoints/
.DS_Store
downloads/
config/bkp/
*:Zone.Identifier
